*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.table
{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items:center;
    background-color: rgb(37, 165, 122);
    flex-direction: column;
    ;
}
.table li{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
}